# Distribution / packaging
.Python
./build/*
dis
dist-ssr
coverage
*.local

# rust
target

# Environments
.env
.venv


# mkdocs documentation
/site

.idea
/.vscode

.DS_Store
__pycache__

node_modules

*.exe
*.pdb
*.lock